workflows/poc_week2.2.json
{
  "name": "Daily Briefing POC",
  "nodes": [
    {
      "parameters": {},
      "id": "ee88e833-3280-47ad-b0ac-f392f86c35bc",
      "name": "Error Workflow",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        208
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -848,
        -48
      ],
      "id": "adafa452-a3d1-4948-aee2-79489898e6e2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://ip-api.com/json/8.8.8.8",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -640,
        -48
      ],
      "id": "56c1381d-8ebe-44b3-8301-71f4534171e0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47324095-0b06-43f8-bc10-9989fca5893d",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "504b8ce7-484e-41b6-9fad-f2b4fb506c2d",
              "name": "country",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "ae9afc0c-15bd-4053-9d56-daa6dae5839a",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        -48
      ],
      "id": "eaccc459-38ad-4fe4-9e38-64bb93f7bdcd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d5ecc8f9-54b8-4705-8e46-3e3e2e321098",
              "leftValue": "={{ $json.country }}",
              "rightValue": "United States",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        -48
      ],
      "id": "9e62a231-d266-4707-ad5a-86fcb2ea199f",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "{\"alert\": \"Security incident detected\", \"action\": \"blocked\"}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        48
      ],
      "id": "72c003d0-b20f-4f9f-b55a-405ea8635f16",
      "name": "Alerting Dummy"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/02613ca7-84b6-41b8-97ad-0e9864ef1aff",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alert_type\": \"Security_Triage\",\n  \"ip_address\": \"{{ $json.query }}\",\n  \"origin_country\": \"{{ $json.country }}\",\n  \"status\": \"Suspicious\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        -128
      ],
      "id": "3ddfce11-feb3-4f4d-9fa6-c6778e27c7e7",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerting Dummy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "70453f8e-aa3b-4ce8-89f3-3d52ada16833",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d890697869b19ad6a13a6eaaa75821a5086d3fe3b52f148d574a0ca7e16a90df"
  },
  "id": "eu4nipxLb66LKliG",
  "tags": []
}